body {
    background-color:       white;
    font-family: 'Righteous', cursive;
}

/************************* HEADER ********************************/

#header {                           /* north pane */
    padding:                0 10px;
    background-color: #4f4f4f;
    overflow:               hidden;
}

#header > h1 {
    display:                inline-block;
    margin:                 15px 60px 0 30px;
    color: #e5e5e5;
    text-shadow: 1px 1px #8cc6ff;
    font-size:              24px;
}

#header > ul {
    display:                inline-block;
    list-style-type:        none;
    padding:                0;
}

#header li {
    display:                inline-block;
}

#header button {
    margin:                 0 20px 0 0;
    background-color:       #77b55a;
    border-radius:          4px;
    border:1px solid        #4b8f29;
    /*display:                inline-block;*/
    cursor:                 pointer;
    color:                  #ffffff;
    font-size:              12px;
    font-weight:            bold;
    padding:                4px 12px;
    text-decoration:        none;
    text-shadow:            0 1px 0 #5b8a3c;
}

#header #librariesBtn {
    background-color: #5c8cb5;
}


/************************* LAYOUT PANELS **************************/

.ui-layout-pane {                   /* all 'panes' */
    border:                 1px solid #BBB;
}

.ui-layout-pane-center {            /* IFRAME pane */
    padding:                0;
    margin:                 0;
}

.ui-layout-pane-west { /* west pane */
    padding:                0 10px;
    background-color:       #EEE !important;
    overflow:               auto;
}

.ui-layout-resizer {                /* all 'resizer-bars' */
    background:             #DDD;
}

.ui-layout-resizer-open:hover {     /* mouse-over */
    background:             #9D9;
}

.ui-layout-toggler {                /* all 'toggler-buttons' */
    background:             #AAA;
}

.ui-layout-toggler-closed {         /* closed toggler-button */
    background:             #CCC;
    border-bottom:          1px solid #BBB;
}

.ui-layout-toggler .content {       /* toggler-text */
    font:                   14px bold Verdana, Verdana, Arial, Helvetica, sans-serif;
}

.ui-layout-toggler:hover {          /* mouse-over */
    background:             #DCA;
}

.ui-layout-toggler:hover .content { /* mouse-over */
    color:                  #009;
}

/* masks are usually transparent - make them visible (must 'override' default) */
.ui-layout-mask {
    background:             #C00 !important;
    opacity:                .20 !important;
    filter:                 alpha(opacity=20) !important;
}


/************************* CODE NAVBAR ****************************/

#code-navbar ul {
    display:                inline-block;
    list-style-type:        none;
    margin:                 0;
    padding:                0;
    float:                  right;
}

#code-navbar li {
    display:                inline;
}

.code-navbar-btn {
    background-color:       #eee;
    color:                  #9c9c9c;
    display:                inline-block;
    cursor:                 pointer;
    font-size:              11px;
    font-weight:            bold;
    text-decoration:        none;
    text-shadow:            0 1px 0 #ced9bf;
    padding:                3px 10px;
    border-left:            solid 1px white;
    border-right:           0;
    border-bottom:          solid 1px gray;
}

.code-navbar-btn.active {
    background-color:       #dce6ef;
    color:                  #4183c4;
}


/********************** CODE BOXES ***************************/

#code :nth-child(2) {       /* first child is navbar, this is upper code box */
    /*margin-top:             22px;    !* space for code-navbar *!*/
}

#htmlCode, #cssCode, #jsCode {
    width:                  100%;
    height:                 31%;
    background-color:       #f5f5ef;
    border-bottom:          1px solid gray;
}

#htmlCode:hover, #cssCode:hover, #jsCode:hover {
    background-color:       #F7F7F1;
}

#htmlCode::before, #cssCode::before, #jsCode::before {
    position: absolute;
    right:                  40px;
    margin-top:             40px;
    color:                  #DCDCDC;
}


#htmlCode:not(:hover)::before {
    content:                "HTML";
}

#cssCode:not(:hover)::before {
    content:                "CSS";
}

#jsCode:not(:hover)::before {
    content:                "JAVASCRIPT";
}

textarea {
    background-color:       transparent;
    font-family:            monaco, monospace;
    width:                  100%;
    height:                 100%;
    padding:                15px;
    box-sizing:             border-box;
    outline:                none;
    resize:                 none;
    border:                 0;
}


